body{
    background-color: black;
    
}
.header {
    
    font-family: Helvetica;
    font-size: 22px;
    color:white;
    background-color: black;
    opacity: 0.9;
    display: flex;
    border-bottom: 1px solid seashell;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    

}
.header h2{
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom:10px;
    text-decoration: wavy;
    justify-content: center;
    
}
ul li a{
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

ul{
    justify-content: space-between;
    
    
}

.header li{
    
    justify-content: space-between;
    display: inline-flex;
    text-decoration: underline;
    padding-right: 10px;
    
}
.header li:hover{
    cursor: pointer;
    color: gray;
}
button{
    border: 1px solid white;
    background-color: black;
}
button:hover{
    color: antiquewhite;

}
.banner{
    height: 700px;
    background-image: url(./DSC_1256.JPG);
   
    margin-top: 2px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.sub{
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: black;
    width: 1200px;
    padding: 0px;
}
.sec1{
   
    margin-left: 30px;
    margin-right: 30px;
    background-color:darkgrey;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-top: 10px;
    

}
.sec2{
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    background-color: darkgrey;

}

.pic,.pic1{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px 10px;
    flex-wrap: wrap;
    
    align-content: center;
   

}


.pic h3,.pic1 h3{
  color: white;

}
 .pic img, .pic1 img {
    
    margin: 20px 20px;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid white;
    
 }

.sub2{
    align-items: center;
    
    color: white;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    
}
.subti{
    color: white;
    margin-top: 120px;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    
}  

.back{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    


}
.pict{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    
    
}
.pict img{
    width: 350px;
    justify-content: center;
    border: 1px solid white;
    
}
.projectst{
    margin-top: 50px;
    color: white;
    font-size: 20px;
    font-family: Times 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 3px solid white;
    background-color: darkgray;
    margin-left: 10px;
    margin-right: 10px;
}
.projectst h2{
    text-decoration: underline;
}
.projects{
    display: flex;
    margin: 20px 0px;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    color: white;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    background-color: darkgray;
}
.pro img{
    width: 360px;
    justify-content: space-around;
    margin: 10px 10px;
    border: 1px solid white;
    border-radius: 10px;

}
.pro{
    justify-content: left;
    
    

}
.pro1 h4{
    
    color: white;
    

}

.locations{
    margin-top: 80px;
    display: flex;
    height: 800px;
    align-items: center;
    background-image: url("./Picture13.jpg");
    opacity: 100;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
    border: 1px solid white;
    flex-shrink: 2;
}
.loc3{
    
    justify-content: center;
    margin-top: 50px;
    
    

    
}
.loc2{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 1;
    flex-wrap: wrap;
}
.loc ,.loc1{
    
    background-color: black;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    margin-top: 15px;
    flex-shrink: 1;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: white;

}
.loc1{
    opacity: 1;
}
.loc{
    margin-right: 5px;
}
.subfoot{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: white;
    align-content: center;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: solid;
    text-align: center;
    word-spacing: normal;
    word-wrap: normal;
    
    
}
.subfoot p{
    text-align: justify;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.footerr{
    margin-top: 300px;
    flex-shrink: 2;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    
    
    justify-content: center;

} 
.foot{
    color: gray;
    
}

.figure{
    
    align-items: center;
    justify-content: center;
    
}

.figure img{
    margin-top: 100px;
    width: 350px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    align-content: center;
    margin-right:20px;
}
figcaption{
    align-items: center;
    justify-content: center;
    text-align: center;
}
